@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Group 11 -sec 1- project [Opinion Collector]</h3>
    
</div>
<div>
    <p>
        We have 3 levels of Authentication:
        <ol>
            <li>Administrator (Super Admin) : Delete All Opinions,Delete Other Users' Accounts</li>
            <li>PowerUser (Power User) : Delete All Opinions</li>
            <li>User : Any Registered User, Can Can Opinion, Delete Their Own Opinions</li>
            <li><b>Visitor can see opinions and search through them with out login</b> </li>
        </ol>
    </p>
</div>
